.jumbotron{
    text-align: center;
}
#navBar{
    list-style: none;
    color: cornflowerblue;
}

.col-2{
    color: cornflowerblue;
}

.navBar{
    list-style: none;
}

.navBarInd{
    border: solid lightgray 0.001em;
    padding: 0.3em 8em 0.3em 0.85em;
    position: relative;
}

.navBarGer{
    border: solid lightgrey 0.001em;
    margin-left: 2em;
    padding: 0.3em 0.5em 0.5em 0.7em;
    position: relative;
}


